.temperate-description {
  font-size: 14px;
}

.temperature-wrapper-div {
  margin-top: 40px;
}

@media screen and (max-width:420px){
  .temperature-wrapper-div {
    margin-top: 0px;
  }

  .current-temperature-number {
    float: left;
  }

  .current-temperature-description {
    float: left;
  }

  .current-temperature-high-low {
    float: left;
  }

  .other-temperature-description {
    float: left;
    width: 50%;
  }

  .other-temperature-high-low {
    float: left;
    width: 50%;
  }
}
