.weather-tile {
  border: 1px solid #000000;
  align-self: flex-start;
  float: left;
  height: 200px;
  width: 240px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 0 #eceef1;
}

@media screen and (max-width:780px){
  .weather-tile {
    width: 40%;
    margin-left: 40px;
    margin-right: 20px;
  }
}

@media screen and (max-width:420px){
  .weather-tile {
    width: 100%;
    height: 120px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
